body {
  background-color: #efefef;
  font-size: 12px;
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  text-align: center;
  color: #094070;
  margin: 32px 0 12px 0;
}

h2 {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 700;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}


/* BUTTONS */

.btn, .btn2 {
  font-size: 18px;
  padding: 8px 4px;
  width: 280px;
  text-align: center;
  border: 1px solid #094070;
  margin-bottom: 8px;
  text-decoration: none;
  color: #094070;
  background-color: white;
  border-radius: 8px;
}

.btn2 {
  width: 180px;
}

.btn:hover, .btn2:hover  {
  cursor: pointer;
  box-shadow: 0 4px 14px 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-1px);
  transition: transform 150ms;
}

.btn[disabled]:hover, .btn2[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}


/* COOKIESBAR */

#cookiesbar {
  font-size:16px;
  line-height:1.5em;
  display:block;
  position:fixed;
  bottom:0;
  text-align:center;
  max-width:760px;
  padding:20px 20px;
  margin-right:14px;
  background-color: rgba(40,40,40,0.95);
  color:#fff;
  z-index:99999;
}

#cookiesbar a {
  display:inline-block;
  padding:4px 8px;
  color:#e0e000;
  text-decoration:none;
}

#cookiesbar a:hover {
  background-color: #444;
}


/* FOOTER */

.footer {
  color: White;
  background-color: #094070;
  margin-top: 80px;
  padding: 12px;
  border-top: 2px solid #094070;
  line-height: 200%;
  text-align: center;
}

.footer a, .footer a:visited {
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  color: White;
  padding: 0 2px 2px;
  margin-right: 12px;
}

.footer a:hover {
  color: #094070;
  background-color: #ecf5ff;
}

